body{
    background-color: #89cff0;
}

td{
    margin-left: 2.5em;
    margin-right: 2.5em;
}

#logo{
    max-width:  3em;
    max-height: 3em;
}

.navbar-brand #brand{
    max-height: fit-content;
    width: 20%;
}

.login_form{
    width: fit-content;
    margin: 0 auto;
    margin-top: 3em;
}

.btn-login{
    margin-left: 4em;
}

.form-group{
    margin-bottom: 1em;
    margin-top: 1em;
}

.nav-color{
    background: white;
    border-bottom: #04042a;
}

#footerL{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #04042a;
    text-align: center;
    color: white;
}

#brand{
    color: #04042a !important;
    font-family: Forte, sans-serif;
    font-weight: 1000;
}

.menu-links{
    color: #04042a;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.75em;
}

.error-banner{
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: red;
}

.login_form .error-msg {
    position: absolute;
    left: 100%;
    margin-left: 15px;
    top: 28px;
    width: 250px;
    line-height: 1.2;
    white-space: normal;
}

.login_form .form-group {
    position: relative;
    margin-bottom: 25px; /* Spazio extra per il messaggio che apparirà sotto */
}

.card{
    border: 2px solid black;
}
.card-body .mx-1{
    background-color: white;
}
.list-categories .categorie{
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    background-color: white;
}
.grassetto{
    font-weight:bold;
}

.product-img {
    border:2px ;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
}

.tabella{

.list-categories .categorie{
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: white;
}}







